* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    min-height: 100px;   
    display: flex; 
    flex-direction: column;
}

a {
    font-size: 13px; 
    text-decoration: black;

}

.main-content
{
    	flex-grow:	1;
    	display:    flex;
        flex-direction:	column;
    	justify-content: center;
        align-items: center;
}

.search-form{
    display: flex;
	justify-content: center;  
    flex-direction: column;
    align-items: center;  
}

.search-input{
width: 432px; 
height: 34px;
box-shadow: 0 2px 5px 1px rgba(64,69,73,0.15);
}

.logo{
    box-sizing:border-box;
    width: 272px;
    height: 92px; 
    border-radius: 10%;
}

.search-buttons{
    display: flex;
	justify-content: center;   
    gap: 15px;
    margin-top: 25px;
}

.grid-icon{
    width: 80px;
    height: 80px; 
    margin-right: -20px;
}

.bell-icon{
    width: 60px;
    height: 60px; 
}

.profile-icon{
    width: 55px;
    height: 55px;   
}
.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 20px;
}


.header-right{
    gap: 5px;
    align-items: center;
    display: flex;
}

.header a {
    display: inline-flex; 
    align-items: center;
    margin-right: 2px;
    font-size: 14px; 
    color: black;
}


.footer {
    display: flex; 
    justify-content: space-between;
    background-color: #f2f2f2; 
    color: black;
    padding: 15px 20px; 
    align-items: center; 
}

.footer-left, .footer-right {
    display: flex;
    gap: 30px; 
}

.footer a{
   color: black;
}


.btn {
    background-color: lightgray;
    color: #3c4043;
    height: 32px;
    padding: 0 16px; 
    font-size: 14px;
}

.btn:hover {
    border: 1px solid #dadce0; 
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}