* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    min-height: 100px;   
    display: flex; 
    flex-direction: column;
}

a {
    font-size: 13px; 
    text-decoration: black;

}

.main-content
{
    	flex-grow:	1;
    	display:    flex;
        flex-direction:	column;
    	justify-content: center;
        align-items: center;
}

.logo{
    box-sizing:border-box;
    width: 350px;
    height: 150px; 
}

.grid-icon{
    width: 100px;
    height: 100px; 
}

.bell-icon{
    width: 100px;
    height: 100px; 
}

.profile-icon{
    width: 90px;
    height: 70px;   
}
.header{
   display: flex;
   justify-content: space-between;
   padding: 15px 20px;
}


.header-right{
    gap: ;
    align-items: center;
}